* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: black;
    color: #f5f5f5;
    padding: 44px 0 48px 0;
    margin: 0;
}

.header {
    background-color: black;
    color: #f5f5f5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    padding: 14px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    height: 44px;
}

.header__settings-icon {
    color: #f5f5f5;
}

.header__user {
    display: flex;
    color: #f5f5f5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 32px;
}

.header__username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__arrow {
    transform: rotate(180deg);
    padding-right: 4px;
    color: #f5f5f5;
}

.header__threads-icon {
    color: #f5f5f5;
}

.profile {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: 550;
    display: flex;
    flex-direction: column;
}

.profile__stats {
    padding: 0 3vw;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
}

.profile__picture-container {
    width: 77px;
    height: 77px;
    overflow: hidden;
    border-radius: 50%;
    align-self: flex-end;
    flex-shrink: 0;
}

.profile__picture {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.profile__info {
    padding: 0 4vw;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
}

.profile__stats-container {
}

.profile__counts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

.profile__stats-paragraph {
    text-wrap: wrap;
    margin-bottom: 4px;
    margin-top: 0;
}

.profile__stat {
    font-weight: 200;
}

.bio {
    padding: 0;
    margin: 0 2vw;
}

.bio__text {
    margin-bottom: 0;
}

.bio__mention-tag {
    color: #e0f0ff;
    text-decoration: none;
}

.bio__link-container {
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bio__link {
    color: #e0f0ff;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
}

.bio__link-icon-container {
    margin-top: auto;
    position: relative;
}

.bio__link-icon {
    vertical-align: bottom;
}

.profile__actions {
    margin-top: 5px;
    padding: 5px 10px;
    gap: calc(10% * 100vh);
    display: flex;
    width: 100%;
    height: 32px;
    justify-content: space-around;
    align-items: center;
}

.profile__button-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
}

.profile__button {
    text-decoration: none;
    padding: 13px;
    color: #f5f5f5;
    font-size: 3ev;
    background-color: #363636;
    border-radius: 5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}

.highlights {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
}

.highlights__container {
    display: flex;
    width: 100%;
    min-width: 100vw;
}

.highlights__list {
    display: flex;
    gap: 3vw;
    padding: 0 2vw;
    list-style-type: none;
    flex-wrap: nowrap; /* Prevent wrapping */
    width: max-content; /* Allow list to expand */
}

.highlights__list-item {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlights__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #363636; /* Outer gray border */
    outline: 1px solid black; /* Inner black border */
    outline-offset: -2px; /* Pull the outline inward */
    flex-shrink: 0;
}

.highlights__image-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.highlights__image {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.highlights__caption {
    text-align: center;
    width: 65px;
    max-width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    box-sizing: border-box;
}

.highlights__caption-text {
    white-space: nowrap;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px 0 0;
}

.gallery {
}

.gallery__tabs {
    font-family:
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif;
    font-weight: 600;
    height: 44px;
    color: #a8a8a8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gallery__tab-link {
    color: #a8a8a8;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.gallery__tab-link--is-active {
    color: #f5f5f5;
}

.gallery__tab-title--desktop-only {
    display: none;
}

.gallery__grid {
    display: grid;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

.gallery__row {
    display: flex;
    width: 100%;
}

.gallery__image-container {
    width: calc(100% / 3);
    padding: 1px;
}

.gallery__image {
    aspect-ratio: 0.75;
    width: 100%;
    object-fit: cover;
    display: block;
}

.footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 48px;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer__tab {
    text-align: center;
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__tab--desktop-only {
    display: none;
}

.footer__profile-container {
    width: 28px;
    height: 28px;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 0;
    border: 2px solid #f5f5f5;
    flex-shrink: 0;
}

.footer__profile-picture {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px) {
    body {
        padding: 20px 0 0 0;
        font-size: 16px;
    }

    .header {
        display: none;
    }

    .profile {
        margin-left: 72px;
        line-height: 18px;
    }

    .profile__picture-container {
        height: 150px;
        width: 150px;
    }

    .profile__info {
        font-size:;
    }

    .bio {
        font-size: 14px;
    }

    .highlights__caption-text {
        padding: 10px 0 0;
        font-size: 12px;
        font-weight: 600;
    }

    .highlights__list {
        gap: 6vw;
    }

    .highlights__image-container {
        height: 77px;
        width: 77px;
    }

    .gallery {
        padding: 0 0 0 72px;
    }

    .gallery__tab-icon {
        height: 0.75rem;
        width: 0.75rem;
    }

    .gallery__tab-title--desktop-only {
        display: flex;
        padding-left: 6px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.75rem;
        letter-spacing: 1px;
    }

    .footer {
        width: 72px;
        height: calc(100vh);
        bottom: 0;
        left: 0;
        right: auto;
        flex-direction: column;
    }

    .footer__edge-tab {
        height: 92px;
    }

    .footer__tab--desktop-only {
        display: flex;
    }
}

@media (min-width: 1265px) {
    .profile {
        flex-direction: column;
    }

    .profile__info {
        order: 2;
    }

    .profile__stats {
        order: 1;
    }

    .bio {
        order: 3;
    }

    .profile__actions {
        order: 4;
    }

    .highlights {
        order: 5;
    }

    .profile__stats-container {
        display: flex;
        flex-direction: row;
        gap: 0.5vw;
    }

    .profile__count {
        font-size: 18px;
        font-weight: bold;
    }

    .profile__stat {
        color: #a8a8a8;
        font-size: 16px;
        font-weight: 400;
    }

    .profile__counts {
        justify-content: left;
    }
}
